@import '../../styles/variables.scss';

.Item {
  display: flex;
  flex-direction: row;
  margin: 15px;
  font-family: $font1 !important;
}

.nameWidth {
  min-width: 30em !important;
  max-width: 30em !important;
}

.itemBreakout {
  margin-left: auto!important;
}

.itemHeader {
  background-color: $white !important;
  border-radius: 10px;
  box-shadow: 2px 2px 4px $darkGreen;
}